# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment/secrets
.env

# ML artifacts
*.pkl
*.joblib
*.h5
*.pt
*.pth

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db